body {
  background-color: RGB(216, 191, 216);
  padding: 50px;
  font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: indigo;
}

.main {
  padding-top: 6rem;
  width: 80%;
  padding-left: 15rem;
  text-decoration: none;
}
.main-index {
  margin: 20rem;
  padding-top: 40rem;
}

p {
  margin-bottom: 1.6em;
  margin-top: 3rem;
}

ul {
  list-style-type: none;
}

.genreAside {
  color: white;
  margin-left: 20px;
  font-style: italic;
}
button {
  color: 216, 191, 216;
}
.button-detail {
  display: flex;
  width: 40%;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  background-color: #333;
  color: RGB(216, 191, 216);
}
.button-detail:hover {
  background-color: hotpink;
  color: white;
  cursor: pointer;
}

.button-search {
  display: flex;
  width: 20%;
  margin-top: 20px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  background-color: #333;
  color: RGB(216, 191, 216);
}
.button-search:hover {
  background-color: hotpink;
  color: white;
  cursor: pointer;
}

.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
  border: 3px solid #8ac007;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
}

a {
  color: indigo;
  text-decoration: none;
}
