<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <!--   estoy incluyendo un header-->
    <%-include('partials/header')%>
   
    <!--   estoy incluyendo un header-->
    
       <div class="main"  >
        <h1>Bienvenidos a Celuloide Films</h1>
        
        <p class="container">
          Amamos el cine y por ello decidimos compartir nuestra  base de datos de películas.
          Podrán visualizar los últimos lanzamientos, las peliculas más vistas, las que posean un mejor rating.
          Proximamente, ampliaremos nuestra base de datos e incluiremos series y listado de actores.

          
    
        </p>
       </div>

    <!--   estoy incluyendo un header-->
    <div class="footer">  
     <%-include('partials/footer')%>
     <!--   estoy incluyendo un header-->  
    
</body>
</html>