<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Celuloide FIlms</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%-include('partials/header')%>
    <div class="main"  >
        <h1>Bienvenidos a Celuloide Films</h1>
        <p >
          Amamos el cine y por ello decidimos compartir nuestra  base de datos de películas.
          Podrán visualizar los últimos lanzamientos, las peliculas más vistas, las que posean un mejor rating.
          Proximamente, ampliaremos nuestra base de datos e incluiremos series y listado de actores.
        </p>
      </div>
    <div class="footer">  
    <%-include('partials/footer')%>
    </div>
</body>
</html>