<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

    <!--   estoy incluyendo un header-->
    <%-include('partials/header')%>
    <!--   estoy incluyendo un header-->
       <div class="main">
           
        <h1>Busqueda de Películas</h1><br>

        <form action="search" method="POST"> 
        <input type="text" name="title">
        
        <select name="order">
            <option value="titleasc">Titulo A-Z</option>
            <option value="titledesc">Titulo Z-A</option>
            <option value="ratingasc">Menor Rating</option>
            <option value="ratingdec">Mayor Rating</option>
            <option value="dategdec">Ultimos Lanzamientos</option>
        </select>
       
        <button class="button-search" type="submit"> Buscar </button>
        </form>
    </div>



       <!--   estoy incluyendo un header-->
    <div class="footer">  
        <%-include('partials/footer')%>
        <!--   estoy incluyendo un header-->  
</html>