<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
   <!-- desde aqui el footer -->   
</head>
<body>
   
            <footer class="footer"> 
                <div class="container">
                  Diseño 
                  <a img   href="https://github.com/carolNeux">  carolNeux <img class="logo-github" src="./images/logo-github.svg" alt="">  </a>|  Ejercitacion sequelize
                </div>
                
            </footer>
        
        </div>
    </header>
   <!-- hasta aqui el footer -->
          
</body>
</html>