<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    
</head>
<body>
   
            <footer class="footer"> 
                <div class="container">
                  Diseño <a href="https://www.instagram.com/carolneumeyer/">@carolneumeyer   </a>|  Ejercitacion sequelize
                </div>
            </footer>
        
        </div>
    </header>
   <!-- hasta aqui el header -->
          
</body>
</html>