<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <title>Celuloide Films</title>
</head>
<body>
  <header class="header">
    <div class="container logo-nav-container">
      <a href="/" class="logo">Celuloide Films</a>  
      <span class="menu-icon"> Ver Menu </span>
      <nav class="navigation">
        <ul class="show">
          <li><a href="/">Home</a></li>
          <li><a href="/movies">Peliculas</a></li>
          <li><a href="/movies/new">Estrenos</a></li>
          <li><a href="/movies/recommended">Recomendaciones</a></li> 
          <li><a href="/movies/create">Agregar Peli</a></li>   
        </ul>
      </nav>
    </div>
        <!-- search bar -->
    <div class="search">
      <form action="/movies/search" method="POST">
        <input class="search-input" type="text" name="search" placeholder="Busqueda de Películas">
        <select name="order"> 
          <option value=""> Ordenar: </option>
          <option value="titleasc"> Titulo A-Z</option>
          <option value="titledesc">Titulo Z-A</option>
          <option value="ratingasc">Menor Rating</option>
          <option value="ratingdesc">Mayor Rating</option>
          <option value="dateasc">Menos Recientes</option>
          <option value="datedesc">Mas Recientes</option>
        </select>
        <button type="submit" value="search">Buscar</button>
      </form>
    </div>
  </header>
</body>
</html>